<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DatasourceLookup</servlet-name>
        <servlet-class>com.mdw.db.DatasourceLookup</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--==============================jsp=================================-->
    <servlet>
        <servlet-name>db</servlet-name>
        <jsp-file>/dashboard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>db</servlet-name>
        <url-pattern>/db</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>lg</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>lg</servlet-name>
        <url-pattern>/lg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>usr</servlet-name>
        <jsp-file>/user.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>usr</servlet-name>
        <url-pattern>/usr</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>fhi</servlet-name>
        <jsp-file>/fee_history.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>fhi</servlet-name>
        <url-pattern>/fhi</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>con</servlet-name>
        <jsp-file>/connection.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>con</servlet-name>
        <url-pattern>/con</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pro</servlet-name>
        <jsp-file>/product.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>pro</servlet-name>
        <url-pattern>/pro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pdl</servlet-name>
        <jsp-file>/product_load.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>pdl</servlet-name>
        <url-pattern>/pdl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rpt</servlet-name>
        <jsp-file>/report.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>rpt</servlet-name>
        <url-pattern>/rpt</url-pattern>
    </servlet-mapping>
    <!--=============================servlet==============================-->
    <servlet>
        <servlet-name>lgs</servlet-name>
        <servlet-class>com.mdw.process.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lgs</servlet-name>
        <url-pattern>/lgs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>lgos</servlet-name>
        <servlet-class>com.mdw.process.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lgos</servlet-name>
        <url-pattern>/lgos</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>rpts</servlet-name>
        <servlet-class>com.mdw.process.ReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>rpts</servlet-name>
        <url-pattern>/rpts</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>uss</servlet-name>
        <servlet-class>com.mdw.process.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uss</servlet-name>
        <url-pattern>/uss</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dus</servlet-name>
        <servlet-class>com.mdw.process.DelUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dus</servlet-name>
        <url-pattern>/dus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uus</servlet-name>
        <servlet-class>com.mdw.process.UpdUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uus</servlet-name>
        <url-pattern>/uus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cos</servlet-name>
        <servlet-class>com.mdw.process.ConnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cos</servlet-name>
        <url-pattern>/cos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dcon</servlet-name>
        <servlet-class>com.mdw.process.DelConnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dcon</servlet-name>
        <url-pattern>/dcon</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ucon</servlet-name>
        <servlet-class>com.mdw.process.UpdConnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ucon</servlet-name>
        <url-pattern>/ucon</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>iso</servlet-name>
        <servlet-class>com.mdw.process.IsoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>iso</servlet-name>
        <url-pattern>/iso</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adf</servlet-name>
        <servlet-class>com.mdw.process.AddFieldServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adf</servlet-name>
        <url-pattern>/adf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dfi</servlet-name>
        <servlet-class>com.mdw.process.DelFieldServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dfi</servlet-name>
        <url-pattern>/dfi</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ufi</servlet-name>
        <servlet-class>com.mdw.process.UpdFieldServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ufi</servlet-name>
        <url-pattern>/ufi</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>m800</servlet-name>
        <servlet-class>com.mdw.process.Msg800Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>m800</servlet-name>
        <url-pattern>/m800</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>af800</servlet-name>
        <servlet-class>com.mdw.process.AddField800Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>af800</servlet-name>
        <url-pattern>/af800</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>df800</servlet-name>
        <servlet-class>com.mdw.process.DelField800Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>df800</servlet-name>
        <url-pattern>/df800</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uf800</servlet-name>
        <servlet-class>com.mdw.process.UpdField800Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uf800</servlet-name>
        <url-pattern>/uf800</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>m400</servlet-name>
        <servlet-class>com.mdw.process.Msg400Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>m400</servlet-name>
        <url-pattern>/m400</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>af400</servlet-name>
        <servlet-class>com.mdw.process.AddField400Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>af400</servlet-name>
        <url-pattern>/af400</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>df400</servlet-name>
        <servlet-class>com.mdw.process.DelField400Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>df400</servlet-name>
        <url-pattern>/df400</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uf400</servlet-name>
        <servlet-class>com.mdw.process.UpdField400Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uf400</servlet-name>
        <url-pattern>/uf400</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>m200</servlet-name>
        <servlet-class>com.mdw.process.Msg200Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>m200</servlet-name>
        <url-pattern>/m200</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>af200</servlet-name>
        <servlet-class>com.mdw.process.AddField200Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>af200</servlet-name>
        <url-pattern>/af200</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>df200</servlet-name>
        <servlet-class>com.mdw.process.DelField200Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>df200</servlet-name>
        <url-pattern>/df200</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uf200</servlet-name>
        <servlet-class>com.mdw.process.UpdField200Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uf200</servlet-name>
        <url-pattern>/uf200</url-pattern>
    </servlet-mapping>
</web-app>
